<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Avalon</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="/image/logo.png" class="img-responsive" alt="logo" />
            </div>
            <div class="col-md-9">
            </div>
        </div>
        <!-- ========== LOGO END ========== -->
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h1 class="heading-text">Welcome to the Avalon Platform <span>(proof of concept)</span></h1>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <!-- ========== TOP HEADING END ========== -->

        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <p class="subline-text">Your 1x Use free shipping code</p>
                <div class="button2">
                    <a href="#" class="w3-btn btn btn-primary">
                	Business #1 - 10% off<br/>
                    <span class="sub-text">(one time use)</span>
                </a>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="button3">
                    <a href="index.html" class="w3-btn btn btn-default">
                	Back
                </a>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>

    </div>
</body>

</html>